<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <meta name="theme-color" content="#74dd54">
    <meta name="description" content="A beautiful showcase of ALL the leading projects & ideas currently being crowdfunded by the Bitcoin Cash community.">

    <title>Bitcoin Builders</title>

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <!-- Open graph -->
    <meta property="og:url" content="https://bch.builders" />
    <meta property="og:title" content="Bitcoin Builders">
    <meta property="og:type" content="website">
    <meta property="og:description" content="A beautiful showcase of ALL the leading projects & ideas currently being crowdfunded by the Bitcoin Cash community.">
    <meta property="og:image" content="https://bch.builders/poster.jpg?1649260724">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bitcoin Builders">
    <meta name="twitter:description" content="A beautiful showcase of ALL the leading projects & ideas currently being crowdfunded by the Bitcoin Cash community.">
    <meta name="twitter:image" content="https://bch.builders/poster.jpg?1649260724">
</head>

<body>

<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<div id="app"></div>
<!-- built files will be auto injected -->

</body>
</html>
