<template>
    <main>
        <Featured :campaigns="featured" />

        <Sponsors />

        <Showcase :campaigns="campaigns" />
    </main>
</template>

<script>
/* global BigInt */

/* Import modules. */
const { ethers } = require('ethers')

/* Import components. */
import Featured from '@/components/Featured'
import Showcase from '@/components/Showcase'
import Sponsors from '@/components/Sponsors'

/* Set constants. */
const TESTNET_PROVIDER = 'https://moeing.tech:9545'

export default {
    components: {
        Featured,
        Showcase,
        Sponsors,
    },
    data: () => {
        return {
            campaigns: null,
            created: null,
            featured: null,
            showcase: null,
        }
    },
    methods: {
        /**
         * Initialization
         */
        async init() {
            /* Initialize provider. */
            const provider = new ethers.providers
                .JsonRpcProvider(TESTNET_PROVIDER)

            /* Set ABI. */
            const abi = this.$store.getters.getAbi

            /* Set interface. */
            const iface = new ethers.utils.Interface(abi)

            /* Set from block. */
            // TODO: Restrict to the last 90 days.
            // const fromBlock = 0
            const fromBlock = 3730247

            /* Set to block. */
            const toBlock = 'latest'

            /* Set topics. */
            const topics = [
                // SmartstarterCreated
                '0xd88dc5dd1e46152fecce681e8ef1affa28b0a06534b296438edaf3b700f5c590',
            ]

            /**
             * Retrieve Logs
             *
             * Will query the blockchain for logs related to our campaign.
             */
            const logs = await provider.getLogs({
                fromBlock,
                toBlock,
                topics,
            }).catch(err => console.error(err))
            // console.log('LOGS', logs)

            /* Handle logs. */
            logs.forEach(_log => {
                // console.log('LOG', _log)

                try {
                    /* Decode event log. */
                    const decoded = iface
                        .decodeEventLog('SmartstarterCreated', _log.data)

                    /* Set created parameters. */
                    const created = {
                        address: _log.address,
                        blockNumber: _log.blockNumber,

                        owner: _log.topics[1],
                        category: _log.topics[2],

                        domain: decoded.domain,
                        title: decoded.title,
                        summary: decoded.summary,
                        description: decoded.description,
                        banner: decoded.banner,
                        starting: decoded.starting,
                        expiration: decoded.expiration,
                        fundingGoal: decoded.fundingGoal,
                        pledgeBalance: decoded.pledgeBalance,
                        currentState: decoded.currentState,
                        isPublished: decoded.isPublished,
                    }
                    // console.log('CAMPAIGN', campaign)

                    /* Add new campaign. */
                    // NOTE: Added to the beginning array to put the most
                    //       recent entries first.
                    this.created.unshift(created)
                } catch (err) {
                    console.error('There was an error parsing the log', err)
                }
            })
            // console.log('CREATED', this.created)

            this.loadCreated()

        },

        loadCreated() {
            /* Validate campaigns. */
            if (this.created.length === 0) return

            /* Handle campaigns. */
            this.created.forEach(_created => {
                // console.log('LOADING CREATED', _created)

                if (!this.processed.includes(_created.address)) {
                    this.processed.push(_created.address)

                    /* Add a featured campaign. */
                    this.addCampaign(_created)
                }
            })
        },

        /**
         * Add Campaign
         */
        async addCampaign(_campaign) {
            // console.log('Adding', _campaign.address)

            /* Initialize provider. */
            const provider = new ethers.providers
                .JsonRpcProvider(this.$store.getters.getProvider)
            // console.log('PROVIDER', provider)

            this.blockNum = await provider
                .getBlockNumber()
                .catch(err => console.error(err))
            // console.log('BLOCK NUM', this.blockNum)

            /* Set Campaign ABI. */
            const abi = this.$store.getters.getAbi

            /* Set campaign address. */
            const address = _campaign.address

            /* Initialize campaign instance. */
            const contract = new ethers.Contract(address, abi, provider)
            // console.log('CONTRACT (campaign):', campaign)

            /* Request campaign info. */
            const campaignInfo = await contract
                .getCampaign()
                .catch(err => console.error(err))
            // console.log('CAMPAIGN (info):', campaignInfo)

            /* Build campaign package. */
            const campaign = {
                address,
                owner: campaignInfo.owner,
                title: campaignInfo.title,
                summary: campaignInfo.summary,
                starting: Number(campaignInfo.starting),
                expiration: Number(campaignInfo.expiration),
                fundingGoal: BigInt(campaignInfo.fundingGoal),
                pledgeBalance: BigInt(campaignInfo.pledgeBalance),
                currentState: campaignInfo.currentState,
                isPublished: campaignInfo.isPublished,
            }

            /* Request campaign info. */
            const campaignDetails = await contract
                .getCampaignDetails()
                .catch(err => console.error(err))
            // console.log('CAMPAIGN (details):', campaignDetails)

            /* Validate campaign details. */
            if (campaignDetails) {
                /* Set category. */
                campaign.category = this.getCategoryById(
                    campaignDetails.category)

                /* Set domain. */
                campaign.domain = campaignDetails.domain

                /* Set description. */
                campaign.description = campaignDetails.description

                /* Set banner. */
                campaign.banner = campaignDetails.banner

                /* Set highlights. */
                campaign.highlights = campaignDetails.highlights
            }

            // console.log('CAMPAIGN', campaign)

            /* Validate campaign visibility. */
            if (!campaignInfo.isPublished) {
                return
            }

            /* Validate campaign banner. */
            if (!campaign.banner) {
                return
            }

            /* Add campaign. */
            this.campaigns.push(campaign)

        },

        /**
         * (Campaign) Category
         *
         * Decodes a Keccak (log) hash to determine the campaign category.
         */
        getCategoryById(_id) {
            switch(_id) {
            /* adoption */
            case 'adoption':
                return 'Adoption'
            /* community */
            case 'community':
                return 'Community'
            /* dapp */
            case 'dapp':
                return 'Decentralized App'
            /* design-art */
            case 'design-art':
                return 'Design & Art'
            /* education */
            case 'education':
                return 'Education'
            /* film-video */
            case 'film-video':
                return 'Film & Video'
            /* fun-games */
            case 'fun-games':
                return 'Fun & Games'
            /* hardware */
            case 'hardware':
                return 'Hardware'
            /* health-wellness */
            case 'health-wellness':
                return 'Health & Wellness'
            /* infrastructure */
            case 'infrastructure':
                return 'Infrastructure'
            /* music */
            case 'music':
                return 'Music'
            /* privacy */
            case 'privacy':
                return 'Privacy'
            /* publishing */
            case 'publishing':
                return 'Publishing'
            /* security */
            case 'security':
                return 'Security'
            /* software */
            case 'software':
                return 'Software'
            /* world-view */
            case 'world-view':
                return 'World View'
            /* youth */
            case 'youth':
                return 'Youth'
            default:
                return 'Unknown Category'
            }
        },

        /**
         * Find Featured
         *
         * Will parse ALL campaigns to determine which should be listed as
         * featured and showcased on the platform.
         */
        findFeatured() {
            /* Initialized holders. */
            // let bannered = []
            let featured = []

            // FIXME: We need to turn this off after a reasonable period of time
            //        to load ALL featured campaigns.
            setInterval(() => {
                if (!this.campaigns || this.campaigns.length === 0) return

                /* Clear holders. */
                // bannered = []
                featured = []

                /* Handle bannered. */
                for (let i = 0; i < this.campaigns.length; i++) {
                    /* Set campaign. */
                    const campaign = this.campaigns[i]

                    /* Validate campaign banner. */
                    if (campaign.banner) {
                        // bannered.push(campaign)
                        featured.push(campaign)
                    }
                }

                /* Clear featured (instance). */
                this.featured = []

                /* Handle featured. */
                for (let j = 0; j < featured.length; j++) {
                    /* Limit to TOP3. */
                    if (j === 3) break

                    /* Set campaign. */
                    const campaign = featured[j]

                    this.featured.push(campaign)
                }
            }, 500)
        },

    },
    created: function () {
        /* Initialize. */
        this.init()

        /* Initialize campaigns. */
        this.campaigns = []

        /* Initialize created. */
        this.created = []

        /* Initialize processed (campaigns). */
        this.processed = []

        /* Initialize featured (campaigns). */
        this.featured = []

        /* Find featured campaigns. */
        this.findFeatured()
    },
    mounted: function () {
        //
    },
}
</script>
