<template>
    <main class="relative bg-gray-50 pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
        <div class="absolute inset-0">
            <div class="bg-white h-1/3 sm:h-2/3"></div>
        </div>

        <div class="relative max-w-7xl mx-auto">
            <div class="text-center">
                <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
                    Campaign Showcase
                </h2>

                <p class="mt-3 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4">
                    A complete list of <strong class="text-yellow-500">ALL</strong> campaigns that are actively seeking financial support with <a href="https://smartstarter.cash" target="_blank" class="text-blue-500 hover:underline font-bold">Smartstarter</a> P2P crowdfunding.
                </p>
            </div>

            <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">

                <div v-for="campaign of campaigns" :key="campaign.address" class="flex flex-col rounded-lg shadow-lg overflow-hidden">
                    <div class="flex-shrink-0">
                        <img class="h-48 w-full object-cover" :src="campaign.banner" :alt="campaign.title" />
                    </div>

                    <div class="flex-1 bg-white p-6 flex flex-col justify-between">
                        <div class="flex-1">
                            <p class="text-lg font-medium text-yellow-600">
                                <a href="javascript://" class="hover:underline">
                                    {{campaign.category}}
                                </a>
                            </p>

                            <p class="text-xs font-medium text-gray-500">
                                <a :href="'https://www.smartscan.cash/address/' + campaign.address" target="_blank" class="hover:underline">
                                    {{campaign.address}}
                                </a>
                            </p>

                            <a href="javascript://" class="block mt-2">
                                <p class="text-xl font-semibold text-gray-900">
                                    {{campaign.title}}
                                </p>

                                <p class="mt-3 text-base text-gray-500 campaign-summary">
                                    {{campaign.summary}}
                                </p>
                            </a>
                        </div>

                        <div class="mt-6 flex items-center">
                            <div class="flex-shrink-0">
                                <a href="javascript://">
                                    <span class="sr-only">{{manager.name}}</span>
                                    <img class="h-10 w-10 rounded-full object-cover" :src="manager.avatar" :alt="manager.name" />
                                </a>
                            </div>

                            <div class="ml-3">
                                <p class="text-sm font-medium text-gray-900">
                                    <a href="javascript://" class="hover:underline"> {{manager.name}} </a>
                                </p>

                                <div class="flex space-x-1 text-sm text-gray-500">
                                    {{displayExpiration(campaign.expiration)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
</template>

<script>
/* Import modules. */
import moment from 'moment'

/* Import components. */
// import HelloWorld from '@/components/HelloWorld'

export default {
    props: {
        campaigns: Array,
    },
    components: {
        // HelloWorld
    },
    data: () => {
        return {
            manager: null,
        }
    },
    methods: {
        /**
         * Display Expiration
         */
        displayExpiration(_expiration) {
            if (!_expiration) return ''

            const fromNow = moment.unix(_expiration).fromNow()

            const formatted = moment.unix(_expiration).format('ll')

            const display = `Expiring ${fromNow} • ${formatted}`

            return display
        },

    },
    created: function () {
        // TODO: Retrieve this from on-chain.
        this.manager = {
            name: 'Anonymous',
            avatar: 'https://i.imgur.com/qv4Sm5R.png',
        }

    },
    mounted: function () {
        //
    },
}
</script>
