<template>
    <main class="bg-white">
        <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
            <div class="lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
                <div>
                    <h2 class="text-2xl sm:text-3xl font-extrabold text-gray-900 sm:text-4xl">
                        We offer a big heartfelt <span class="text-pink-500">THANK YOU</span> to the following sponsors
                    </h2>

                    <p class="mt-3 max-w-3xl sm:text-lg text-gray-500">
                        We recognize the following sponsors for making the biggest difference in enabling us to continue delivering the value that we do.
                        <span class="hidden sm:inline">They've each demonstrated an extreme willingness to support our hard work.</span>
                    </p>

                    <div class="mt-3 sm:mt-8 flex justify-around sm:justify-start items-center gap-2">
                        <div class="w-full rounded-md shadow">
                            <a href="javascript://" class="flex items-center justify-center px-5 py-2 sm:py-3 border border-transparent text-lg sm:text-2xl font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
                                Learn More
                            </a>
                        </div>

                        <div class="w-full rounded-md shadow">
                            <a href="mailto:support@bchplease.org" class="flex items-center justify-center px-5 py-2 sm:py-3 border border-transparent text-lg sm:text-2xl font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200">
                                Contact Us
                            </a>
                        </div>
                    </div>
                </div>

                <div class="mt-8 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-0 lg:grid-cols-2">
                    <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                        <img class="max-h-12" src="https://tailwindui.com/img/logos/transistor-logo-gray-400.svg" alt="Workcation" />
                    </div>

                    <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                        <img class="max-h-12" src="https://tailwindui.com/img/logos/mirage-logo-gray-400.svg" alt="Mirage" />
                    </div>

                    <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                        <img class="max-h-12" src="https://tailwindui.com/img/logos/tuple-logo-gray-400.svg" alt="Tuple" />
                    </div>

                    <div class="hidden col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                        <img class="max-h-12" src="https://tailwindui.com/img/logos/laravel-logo-gray-400.svg" alt="Laravel" />
                    </div>

                    <div class="hidden col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                        <img class="max-h-12" src="https://tailwindui.com/img/logos/statickit-logo-gray-400.svg" alt="StaticKit" />
                    </div>

                    <div class="hidden col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                        <img class="max-h-12" src="https://tailwindui.com/img/logos/statamic-logo-gray-400.svg" alt="Statamic" />
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
/* Import components. */
// import HelloWorld from '@/components/HelloWorld'

export default {
    components: {
        // HelloWorld
    },
    data: () => {
        return {
            //
        }
    },
    created: function () {
        //
    },
    mounted: function () {
        //
    },
}
</script>
