<template>
    <Header />

    <Search />

    <router-view/>

    <Footer />
</template>

<script>
/* Import components. */
import Footer from '@/components/Footer'
import Header from '@/components/Header'
import Search from '@/components/Search'

export default {
    components: {
        Footer,
        Header,
        Search,
    },
    data: () => {
        return {
            //
        }
    },
    created: function () {
        //
    },
    mounted: function () {
        //
    },
}
</script>

<style>
.campaign-summary {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3;
   -webkit-box-orient: vertical;
}
</style>
